# AWS Configuration
AWS_REGION=ap-northeast-1

# 生产环境建议使用 IAM 角色，无需设置以下两项
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key

# Application
NODE_ENV=production
PORT=3001
# Redirect Url
NEXT_PUBLIC_REDIRECT_URL=https://zhangfanglong.click

# ECS deploy
AWS_ACCOUNT_ID=your_aws_account_id
ECR_REPO_NAME=your_ecr_repo_name
ECS_CLUSTER_NAME=your_ecs_cluster_name
ECS_SERVICE_NAME=your_ecs_service_name
ECS_TASK_DEFINITION=your_ecs_task_definition